@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: 'Monument Extended'; /* Choose a name for your font */
  src: url('fonts/MonumentExtended-Regular.otf') format('opentype'); /* Path to your font file */
  font-weight: normal; /* Optional: Specify font weight */
  font-style: normal; /* Optional: Specify font style */
}
/*  Bruk klasser (class) i CSS istedet for id */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BODY */

:root {
  --primaryFontFamily : "Monument Extended"
}


body {
  margin: 0;
  /* position:relative; */

  position: relative;
  background-color:black;

}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color:transparent;
  height: 100px;
  z-index: 10;
  position: sticky;
  top: 0;
}

.logoHeader {
  width:50px;
}

.hamburgerIcon {
  width: 32px;
}

.menu {
  padding-right: 28px;
}

ul {
  display: flex;
  justify-content: center;
  gap: 16px;
  list-style-type: none;
}

li {
  display: flex;
  align-items: center;
  gap: 5px;
}

.flex {
  display: flex;
}

/* MAIN */


section {
  height: 100vh;
}

.hero {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 35px;
  z-index: 10;
}

.backgroundImage {
  width:100%;
  height: 100%;
  position: absolute;
  /* background-image: url("https://cdx.monstercat.com?encoding=webp&url=https%3A%2F%2Fwww.monstercat.com%2Frelease%2F742779555441%2Fcover%3F676e729b-96af-442a-9780-66b154ba7109&width=1024");
     */
     background-image: url("Icons/backgroudImage.png");
  background-size:contain;
  background-position-y: -6t00px;
  background-repeat: no-repeat;
  filter:blur(5px) brightness(38%);

  
  z-index: -1;

}

/* .sidewaysText {

  transform: rotate(270deg);



} */

.releaseText {
  color:#fdfdfd;
}

.coverTextWrapper {
  flex-direction: row;
  align-items: center;
  

}

.sideWaysDiv {
  
  color: #50A584;
  font-size: 18px;
  gap:0;
 writing-mode: sideways-lr;
  justify-content: flex-end
  
 
}
.albumInfoDiv {
  justify-content: flex-start;
  flex-direction: column;

  gap:10px;
  
}

.coverImage {
  width: 480px;
}

.albumTitleText {
  font-family: var(--primaryFontFamily);
  font-size: 48px;
  color: transparent;
  -webkit-text-stroke-width : 2px;
  -webkit-text-stroke-color: white;
}

.albumArtistText {
  font-family: var(--primaryFontFamily);
  font-size : 28px;
  color:white;

  /* font-weight: bold; */
}

.playNowButton {
  width: 213px;
  height: 53px;
  color:#f1f1f1;
  background-color: #50A584;
  font-family: var(--primaryFontFamily);
  font-size : 14px;
  border: 2px solid #50A584;
}

.shareButton {
  font-family: var(--primaryFontFamily);
  width: 153px;
  height : 53px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.albumButtonWrapper {
  gap : 8px;

}
/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Source Sans 3';
  color: white;
  text-align: center;
  background-color: gray;
  height: 100px;
}

.kodeloftlogo {
  width: 90px;
  padding: 28px;
}

.footertext {
  color: rgb(220, 220, 220);
  margin: 0;
}

.emailandgithub {
  display: flex;
  gap: 20px;
  padding-right: 50px;
}
