@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: 'Monument Extended'; /* Choose a name for your font */
  src: url('fonts/MonumentExtended-Regular.otf') format('opentype'); /* Path to your font file */
  font-weight: normal; /* Optional: Specify font weight */
  font-style: normal; /* Optional: Specify font style */
}
/*  Bruk klasser (class) i CSS istedet for id */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BODY */

:root {
  --primaryFontFamily : "Monument Extended"
}


body {
  margin: 0;
  /* position:relative; */

  /* position: relative; */
  background-color:black;

}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color:transparent;
  

  position: sticky;
  top: 0;
}

.logoHeader {
  width:50px;
}

.hamburgerIcon {
  width: 32px;
}

.logoImg {
  width: 50px;
}

.closeMenuImg {
  width: 22px;
}

.headingCloseDiv {
  align-items: center;
  justify-content: space-between;
}

.menuHeading {
  align-items: center;
  color:white;
  font-family: var(--primaryFontFamily);
  font-size: 18px;
}

.slideInMenuNav {

  flex-direction: column;
  justify-content: space-between;


  padding: 20px 40px;
  background-color: black;
  height: 100%;
  width: 500px;
  position: fixed;
  top : 0;
  right: 0;
  z-index: 100;
  
 
}

.slideInRightAnim 
{
  animation-name: slideInRight;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideInRight {
  0% { transform: translateX(500px);}
  100% { transform : translateX(0);}
}


.socialMediaDiv{
  padding: 20px 0px;
  gap: 10px;
}

.socialMediaIcon {
  width: 15px;
}


.buttonNavDiv {
  align-items: center;
  
  gap:25px;
  padding: 10px 0px;

}

.signInButton, .signUpButton {
  background-color: black;
  font-family: var(--primaryFontFamily);
  font-size: 14px;
  color:white;

}

.signInButton {
  padding: 8px 16px;
  border: 1px solid white;
}



.signInButton:hover {
  color: black;
  background-color: white;
}

.signUpButton {
  border: none;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  list-style-type: none;
}

li {
  font-family: var(--primaryFontFamily);
  font-size:18px;
  display: flex;
  align-items: center;
  gap: 5px;
  color:white;
}
.hide {
  display: none;
}

.flex {
  display: flex;
}

/* MAIN */


section {
  height: 100vh;
}

.hero {
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin: 10em 0;
  gap: 35px;
  z-index: 10;
  width: 100%;
}

.backgroundImage {
  width:100%;
  height: 100%;
  position: absolute;
  background-image: url("https://cdx.monstercat.com?encoding=webp&url=https%3A%2F%2Fwww.monstercat.com%2Frelease%2F742779555441%2Fcover%3F676e729b-96af-442a-9780-66b154ba7109&width=1024");
    
     background-image: url("Icons/backgroudImage.png");
  background-size:cover;
  background-position-y: -700px;
  background-repeat: no-repeat;
  filter:blur(5px) brightness(38%);

  
  z-index: -1;

}

.uppeerSectionContainerDiv {
  
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

/* .sidewaysText {

  transform: rotate(270deg);

} */

.releaseText {
  color:#fdfdfd;
}

.coverTextWrapper {

  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;

}

.sideWaysDiv {
  
  color: #50A584;
  font-size: 18px;
  font-style: italic;
  gap:0;
   writing-mode: sideways-lr;
  justify-content: flex-end;
}

.albumInfoDiv {
  justify-content: center;
  flex-direction: column;

  gap:10px;
  
}

.coverImage {
  width: 480px;
}

.albumTitleText {
  font-family: var(--primaryFontFamily);
  font-size: 48px;
  color: transparent;
  -webkit-text-stroke-width : 2px;
  -webkit-text-stroke-color: white;
}

.albumArtistText {
  font-family: var(--primaryFontFamily);
  font-size : 28px;
  color:white;

  /* font-weight: bold; */
}

.hoverImage {
  display: none;
}

.defaultImage {
  display: flex;
}


.playNowButton {
  width: 213px;
  height: 53px;
  color:#f1f1f1;
  background-color: #50A584;
  font-family: var(--primaryFontFamily);
  font-size : 14px;
  border: 2px solid #50A584;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.playIconWhite, .shareIcon {
  width : 18px;
}

.shareButton:hover {
  background-color: white;
  color: black;
  .hoverImage { display: flex};
  .defaultImage { display: none;}

}

.shareButton {
  font-family: var(--primaryFontFamily);
  width: 153px;
  height : 53px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.shareIconWhite {

}


.albumButtonWrapper {
  gap : 8px;

}
/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Source Sans 3';
  color: white;
  text-align: center;
  background-color: gray;
  height: 100px;
}

.kodeloftlogo {
  width: 90px;
  padding: 28px;
}

.footertext {
  color: rgb(220, 220, 220);
  margin: 0;
}

.emailandgithub {
  display: flex;
  gap: 20px;
  padding-right: 50px;
}
