@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: 'Monument Extended'; /* Choose a name for your font */
  src: url('fonts/MonumentExtended-Regular.otf') format('opentype'); /* Path to your font file */
  font-weight: normal; /* Optional: Specify font weight */
  font-style: normal; /* Optional: Specify font style */
}
/*  Bruk klasser (class) i CSS istedet for id */
* {
  padding: 0;
  margin: 0;
}

/* BODY */

:root {
  --primaryFontFamily : "Monument Extended"
}


body {
  margin: 0;
  background-color: gray;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color:transparent;
  height: 100px;
}

.logoHeader {
  width:50px;
}

.hamburgerIcon {
  width: 32px;
}

.menu {
  padding-right: 28px;
}

ul {
  display: flex;
  justify-content: center;
  gap: 16px;
  list-style-type: none;
}

li {
  display: flex;
  align-items: center;
  gap: 5px;
}

.flex {
  display: flex;
}

/* MAIN */

section {
  height: 100vh;
}

.hero {

  flex-direction: row;
}

.albumInfoDiv {
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap:0;
  
}

.albumTitleText {
  font-family: var(--primaryFontFamily);
  font-size: 48px;
  color: transparent;
  -webkit-text-stroke-width : 2px;
  -webkit-text-stroke-color: white;
}

.albumArtistText {
  font-family: var(--primaryFontFamily);
  font-size : 28px;
  color:white;

  /* font-weight: bold; */
}

.playNowButton {
  width: 213px;
  height: 53px;
  color:#f1f1f1;
  background-color: #50A584;
  font-family: var(--primaryFontFamily);
  font-size : 14px;
  border:none;
}

.shareButton {
  font-family: var(--primaryFontFamily);
  width: 153px;
  height : 53px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.albumButtonWrapper {
  gap : 3px;
  
}
/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Source Sans 3';
  color: white;
  text-align: center;
  background-color: gray;
  height: 100px;
}

.kodeloftlogo {
  width: 90px;
  padding: 28px;
}

.footertext {
  color: rgb(220, 220, 220);
  margin: 0;
}

.emailandgithub {
  display: flex;
  gap: 20px;
  padding-right: 50px;
}
